<div class="event">
    <div class="content">
        <div class="summary">
            <em class="nigga-name-in-chat"><%= message.user.username %></em>: <%= message.body %>
        </div>
    </div>
</div>